:root{
    --gris: #24272E;
    --blanco: #fff;

    --color-primario:#20CBB8;
    --color-secundario:#B45AEB;
    --color-terciario: #FCF439;
    --color-degradado: linear-gradient(to right, #9DF0E7, #20CBB8, #B45AEB );


}