:host{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-primario);
        border-radius: 0px 0px 30px 30px;

        img{
            margin: 20px 0px;
        }

        @media screen and (max-width: 320px){

            img {
                max-width: 300px;
            }
        }
        
    }
    
}